#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f6fb;
}
